html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: Cinzel, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

p {
  font-family: Fauna One, sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  max-width: 2560px;
  margin: auto;
  width: 100%;
}

.centered {
  padding: 20px;
  margin: auto;
  text-align: center;
}

.layout {
  padding: 0px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: lightgrey;
}

.logo-container {
  margin: 6px 18px;
  position: relative;
}
.logo {
  color: gray;
  font-size: 18px;
  margin: 20px;
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: end;
  margin: 6px 18px;
  position: relative;
}
.marquee-text {
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: #f02d34;
}
.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}
@media only screen and (max-width: 600px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }
  .button-container {
    margin: 6px 0;
    justify-content: center;
  }
  .nav-links {
    margin-bottom: 10px;
  }
  .logo {
    margin: 10px;
  }
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

span.text-red {
  -webkit-text-stroke: 1px #f02d34;
  margin-left: 6px;
}
.search-icon {
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
  padding: 30px;
  padding-right: 0px;
}
.search-icon:hover {
  transform: scale(1.1, 1.1);
}
.cart-icon {
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
  padding: 30px;
}
.cart-icon:hover {
  transform: scale(1.1, 1.1);
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-links a + a {
  margin-left: 20px;
}
.nav-link {
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
  padding: 30px;
  padding-right: 0px;
}
.nav-link:hover {
  transform: scale(1.1, 1.1);
}
.cart-item-qty {
  position: absolute;
  right: 17px;
  top: 40px;
  font-size: 12px;
  color: #eee;
  background-color: rgb(204, 180, 142);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.product-card {
  cursor: pointer;
  color: #324d67;
}
.product-card img:hover {
  transform: scale(1.1, 1.1);
}
.product-image {
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  width: 100%;
}

.product-name {
  font-weight: 500;
}
.product-price {
  font-weight: 800;
  margin-top: 6px;
  color: black;
}

.heading-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  width: 100%;
}
.heading-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #324d67;
  padding: 10px;
}

.heading-image {
  background-color: #ebebeb;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.heading-title {
  margin: 5px;
  font-weight: 800;
  text-align: center;
}
.heading-description {
  font-weight: 500;
  margin-top: 6px;
  color: black;
}

.hero-banner-container {
  padding: 100px 40px;
  background-color: #dcdcdc;
  border-radius: 15px;
  position: relative;
  height: 500px;
  line-height: 0.9;
  width: 100%;
}
.hero-banner-container .beats-solo {
  font-size: 20px;
}
.hero-banner-container button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 10000 !important;
}

.hero-banner-container h3 {
  font-size: 4rem;
  margin-top: 4px;
}
.hero-banner-container h1 {
  color: white;
  font-size: 10em;
  margin-left: -20px;
  text-transform: uppercase;
}
.hero-banner-image {
  position: absolute;
  top: 0%;
  right: 20%;
  width: 450px;
  height: 450px;
}

.desc {
  position: absolute;
  right: 10%;
  bottom: 5%;
  width: 300px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: #324d67;
}
.desc p {
  color: #5f5f5f;
  font-weight: 100;
  text-align: end;
}
.desc h5 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}
.heading-heading {
  margin: 40px 0px;
}
.products-heading h2 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin: 40px;
}
.products-heading p {
  font-size: 14px;
  font-weight: 200;
}
.heading-heading {
  margin: 40px 0px;
}
.heading-heading h2 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin: 20px;
}
.heading-heading p {
  font-size: 14px;
  font-weight: 200;
}

.footer-banner-container {
  padding: 100px 40px;
  background-color: #f02d34;
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1;
  color: white;
  width: 100%;
  margin-top: 120px;
}
.banner-desc {
  display: flex;
  justify-content: space-between;
}
.banner-desc button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: white;
  color: red;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.banner-desc .left h3 {
  font-weight: 900;
  font-size: 80px;
  margin-left: 25px;
}
.banner-desc .left p {
  margin: 18px;
}
.footer-banner-image {
  position: absolute;
  /* top: -35%;
  left: 8%; */
  top: -25%;
  left: 25%;
}
.banner-desc .right {
  line-height: 1.4;
}
.banner-desc .right h3 {
  font-weight: 800;
  font-size: 60px;
}
.banner-desc .right p {
  font-size: 18px;
}
.banner-desc .right .company-desc {
  font-size: 14px;
  font-weight: 300;
}
.cart-wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;
}
.cart-container {
  height: 100vh;
  width: 600px;
  background-color: #ffffff;
  float: right;
  padding: 40px 10px;
  position: relative;
  border-left-style: solid;
  border-left-width: thin;
}

.footer-container {
  color: #324d67;
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.footer-container .icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}
.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  width: 100%;
}

.cart-heading .heading {
  margin-left: 10px;
}
.cart-num-items {
  margin-left: 10px;
  margin-right: 50%;
  color: rgb(204, 180, 142);
}
.empty-cart {
  margin: 40px;
  text-align: center;
}
.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}
.cancel {
  cursor: pointer;
}
.product-container {
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}
.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}
.product .cart-product-image {
  width: 220px;
  height: 190px;
  background-color: #ebebeb;
}
.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;
}
.item-desc .bottom {
  margin-top: 30px;
}
.flex h5 {
  font-size: 16px;
}
.flex h4 {
  font-size: 20px;
  margin-right: 50px;
}
.total {
  display: flex;
  justify-content: space-between;
}
.total h3 {
  font-size: 22px;
}
.remove-item {
  font-size: 24px;
  color: #000000;
  cursor: pointer;
  background: transparent;
  border: none;
  margin-right: 50px;
}
.cart-bottom {
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;
}

.btn-container {
  width: 400px;
  margin: auto;
}
.btn {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.btn:hover {
  transform: scale(1.1, 1.1);
}
.products-heading{
  margin-top: 50px;
  margin-bottom: 50px;
}
.product-detail-container {
  display: flex;
  grid-gap: 40px;
  gap: 40px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
  justify-content: center;
}

.product-detail-image {
  background-color: #ebebeb;
  width: 600px;
  height: 600px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.product-detail-image img {
  width: 100%;
}
.product-detail-image:hover {
  background-color: #3d3d3d;
}
.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.small-image {
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image {
  background-color: #f02d34;
}
.reviews {
  color: #f02d34;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.product-detail-desc {
  width: 40%;
}
.product-detail-desc h4 {
  margin-top: 10px;
}
.product-detail-desc p {
  margin-top: 10px;
}
.reviews p {
  color: #324d67;
  margin-top: 0px;
}
.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
}
.price .old-price,
.product-price .old-price,
.price .old-price {
  color: gray;
  text-decoration: line-through;
}
.product-detail-desc .quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}
.product-detail-desc .buttons {
  display: flex;
  gap: 30px;
}
.buttons .add-to-cart {
  padding: 10px 20px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .add-to-cart:hover {
  background-color: black;
  color: white;
}
.buttons .buy-now {
  width: 200px;

  padding: 10px 20px;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .buy-now:hover {
  transform: scale(1.1, 1.1);
}
.quantity-desc {
  border: 1px solid gray;
  padding: 2px;
}
.quantity-desc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}
.quantity-desc .minus {
  color: #000000;
  border-right: 1px solid gray;
}
.quantity-desc .num {
  border-right: 1px solid gray;
  font-size: 20px;
}
.quantity-desc .plus {
  color: #000000;
}

.maylike-products-wrapper {
  margin-top: 50px;
}
.maylike-products-wrapper h2 {
  text-align: center;
  margin: 50px;
  color: #324d67;

  font-size: 28px;
}
.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.max-qty {
  font-weight: 500;
  color: #f02d34;
}
.success-wrapper,
.cancel-wrapper {
  background-color: white;
  min-height: 60vh;
}
.success,
.cancel {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
  color: green;
  font-size: 40px;
}
.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: #324d67;
}
.success .email-msg {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.cancel p {
  font-size: 20px;
  font-weight: 600;
}
.success .description {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}
.success .description .email {
  margin-left: 5px;
  color: #f02d34;
}
.product-max-qty {
  margin-top: 10px;
}

@media screen and (max-width: 1000px) {
  .product-detail-image {
    background-color: #ebebeb;
    width: 400px;
    height: 400px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
}

@media screen and (max-width: 800px) {
  .hero-banner-container {
    height: 560px;
  }
  .hero-banner-image {
    width: 77%;
    height: 62%;
    top: -2%;
    right: -6%;
  }
  .footer-banner-container {
    height: 560px;
    margin-top: 80px;
  }
  .footer-banner-image {
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%;
  }
  .banner-desc .left h3 {
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }
  .banner-desc .left p {
    margin: 18px;
  }
  .banner-desc .right h3 {
    font-size: 45px;
  }
  .banner-desc .right p {
    font-size: 18px;
  }
  .banner-desc .right .company-desc {
    font-size: 14px;
  }
  .banner-desc {
    flex-wrap: wrap;
    gap: 20px;
  }
  .hero-banner-container {
    line-height: 1.3;
  }
  .hero-banner-container h1 {
    font-size: 50px;
  }
  .hero-banner-container h3 {
    font-size: 40px;
  }
  .hero-banner-container button {
    margin-top: 90px;
    z-index: 10000;
  }
  .desc {
    bottom: 60px;
  }
  .product-detail-container {
    flex-wrap: wrap;
  }
  .product-detail-container .product-detail-image {
    width: 80%;
    height: auto;
    margin: auto;
  }
  .cart-container {
    width: 100%;
    padding: 4px;
  }
  .cart-num-items {
    margin-left: 10px;
    margin-right: 25%;
  }
  .cart-heading {
    margin-top: 35px;
  }
  .product-container {
    margin-top: 10px;
  }
  .product {
    padding: 20px 5px;
    justify-content: space-between;
  }
  .product .cart-product-image {
    width: 25%;
    height: 25%;
  }
  .buttons .add-to-cart {
    width: 150px;
  }
  .buttons .buy-now {
    width: 150px;
  }
  .product-detail-container {
    margin: 10px auto;
  }
  .product-detail-desc {
    width: 80%;
  }

  .item-desc .flex {
    width: 100%;
  }
  .top {
    flex-wrap: wrap;
    gap: 10px;
  }
  .item-desc .bottom {
    margin-top: 30px;
  }
  .flex h5 {
    font-size: 16px;
    color: #324d67;
  }
  .flex h4 {
    font-size: 16px;
    color: black;
  }
  .cart-bottom {
    padding: 30px;
  }

  .total h3 {
    font-size: 20px;
  }

  .success-wrapper,
  .cancel-wrapper {
    min-height: 69vh;
  }
  .success,
  .cancel {
    width: 370px;
    margin-top: 100px;
    padding: 20px;
  }
  .success {
    height: 350px;
  }
  .success h2 {
    font-size: 17px;
  }
  .btn-container {
    width: 300px;
    margin: auto;
  }
}

.carousel-root {
  margin-top: 140px;
  border-bottom: 0.5px solid #cfcfcf;
}

.overlay {
  color: white;
  padding: 20px;
  text-align: left;
  background-color: rgb(0, 0, 0, 0.05);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.overlay-content {
  background-color: rgb(0, 0, 0, 0.1);
  color: white;
  padding: 20px;
  text-align: left;
  position: absolute;
  top: 10%;
  z-index: 1000;
  left: 11.5%;
  width: 6%;
}

@media screen and (max-width: 600px) {
  .sliderImages img {
    width: 100% !important;
    height: 300px !important;
    object-fit: cover !important;
    background-attachment: fixed !important;
  }
  .overlay-content {
    display: none;
  }
}
.slick-slider {
  overflow-y: hidden;
  height: 110%;
}
.slick-slide img {
  display: block;
  width: 100%;
  margin: auto;
}
.slick-prev {
  left: 100px !important;
}

.ws-footer {
  color: #fff;
  padding: 70px 0;
  background-color: #3d3d3d;
  width: 100%;
  position: absolute;
}
.ws-footer a {
  color: #999;
  -ms-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.ws-footer a:hover {
  color: #41424b;
}
.ws-footer h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.ws-footer ul {
  letter-spacing: 1px;
  margin: 0;
  list-style: none;
  padding-left: 0;
}
.ws-footer li {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 12px;
}
.ws-footer-separator {
  background-color: #41424b;
  height: 1px;
  width: 15px;
  display: block;
  margin: 15px 0 20px 0;
}
.ws-footer-bar ul {
  letter-spacing: 1px;
  margin: 0;
  list-style: none;
  padding-left: 0;
}
.ws-footer-bar {
  padding: 10px 0;
  background-color: #353535;
}
.ws-footer-bar p {
  color: #41424b;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}
ul.ws-footer-social i {
  margin-right: 5px;
}
.ws-footer-about {
  padding-right: 60px;
}
.ws-footer-about p {
  color: #999;
  font-size: 12px;
  letter-spacing: 1px;
}
ul.ws-footer-payments li {
  color: #999;
  font-size: 16px;
  margin-left: 15px;
  margin-top: 3px;
  float: left;
}

.navbar {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  border-bottom: 0.5px solid #cfcfcf;
}

.navbar h4 {
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
}

/* Style the modal */
.modal {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Style the modal content */
.modal-search {
  overflow-y: auto;
  background-color: #fefefe;
  margin: 1% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  max-height: 100%;
  width: 100%;
  max-width: 1200px;
}

/* Style the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Style the search text area and submit button */
.searchBar {
  display: inline-block;
  width: 80%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 0%;
}

@media screen and (max-width: 600px) {
  .navbar {
    width: 90%;
  }
  .navbar h4 {
    font-size: 12px;
  }
  .navbar img {
    width: 50px;
  }
  .modal-search {
    height: 90%;
  }
  
}
@media screen and (max-width: 400px) {
  .navbar h4 {
    font-size: 12px;
  }
}
.ws-page-container {
  margin-top: 100px;
  max-width: 1200px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  overflow: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.ws-contact-offices .thumbnail {
  position: relative;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.thumbnail > img {
  max-width: 100%;
  height: auto;
}
.ws-works-caption {
  margin-top: 15px;
  margin-bottom: 50px;
}
.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-6 {
    width: 50%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
  
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.image-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 50px;
  max-width: 2000px;
}
.image-grid-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}


.image-grid-column {
  width: 33.33%;
  padding: 0 10px;
  margin-bottom: 30px;
  text-align: center;
}
.image-grid-title {
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.image-grid-description {
  padding: 20px;
  line-height: 20px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .image-grid-column {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .button-container {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
  }
}